/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.splash-screen-container {
  background-color: 	#181818; /* Background color */
  color: white; /* Text color */
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: left;
  padding-left: 50px;
  flex-direction: column;
  background: radial-gradient(125% 125% at 50% 10%, #181818 40%, rgb(0, 255, 0) 550%);
  text-align: center; /* Center text horizontally */
    /* Adjust margin as needed */
}
.line {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 1px;
 background-color: #181818;
 box-shadow: inset 0 2px 4px 0 rgba(226, 225, 225, 0.05);

}
.splash-screen-title {
  font-size: 50px; /* Adjust font size as needed */
  padding-bottom: 0%; /* Adjust padding as needed */
  padding-right: 70%;
  padding-left: 5px;
}

.Countdown {
  color: rgb(255, 255, 255); /* Text color */
  font-size: 14px; /* Adjust font size as needed */
  text-align: center; /* Center text horizontally */
  padding-bottom: 0%;
  padding-right: 30%;
  
}

.Mainsite {
  background: radial-gradient(125% 125% at 50% 10%, #181818 40%, rgb(0, 255, 0) 550%);
  color: white; /* Text color */
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: top;
  
}

.small-image {
  position: absolute;
  top: 10px; /* Adjust this value to position the image vertically */
  right: 20px; /* Adjust this value to position the image horizontally */
  width: 150px; /* Adjust the width of the image */
  height: 75px; /* Adjust the height of the image */
}


/* Additional styling for titles */
.MainsiteTitle {
  font-size: 2em; /* Adjust font size as needed */
  margin-bottom: 45%; /* Adjust margin as needed */
  margin-right: 90%;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-direction: row; /* Flex direction row for both larger and smaller screens */
}

.white-text {
  color: white; /* Text color */
}

.green-text {
  color: rgb(0, 255, 0); /* Text color */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .MainsiteTitle {
      font-size: 1.5em; 
      margin-bottom: 700px; 
      margin-right: 70%; 
      justify-content: flex-start; 
      padding-left: 40px; 
      font-weight: 700;
  }
  .Countdown {
    color: rgb(255, 255, 255); /* Text color */
    font-size: 14px; /* Adjust font size as needed */
    text-align: center; /* Center text horizontally */
    padding-bottom: 80px; /* Adjust padding as needed */
    margin-right: px; /* Adjust margin-right as needed */
    white-space: nowrap; /* Prevent text from wrapping onto multiple lines */

  }
  .container {
    position: top;
    
  }
  
  .small-image {
    position: absolute;
    top: 20px; /* Adjust this value to position the image vertically */
    right: 20px; /* Adjust this value to position the image horizontally */
    width: 100px; /* Adjust the width of the image */
    height: 45px; /* Adjust the height of the image */
    
  }
}
@media only screen and (min-width: 601px) {
  .MainsiteTitle {
      font-size: 3em; /* Adjust font size for larger screens */
      margin-right: 70%;
      padding-left: 50px; 
      font-weight: 700;
  }
  .splash-screen-title {
    font-size: 50px; /* Adjust font size as needed */
    padding-bottom: 0%; /* Adjust padding as needed */
    padding-right: 70%;
    padding-left: 5px;
    font-weight: 700;
  }
}